{block content}

{include '../AdministrationComponents/header.latte'}

<!-- Content -->
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 animated shake">
                <h3>{_messages.PermisionDenied}</h3>
            </div>
        </div>
    </div>
</main>
                        
{include '../AdministrationComponents/footer.latte'}