ListOfArticles: "List of Articles"
NewArticle: "New Article"
Name: "Name"
Status: "Status"
Author: "Author"
Date: "Date"
Action: "Action"
Edit: "Edit"
Delete: "Delete"
Preview: "Preview"
title: "title"
description: "description"
keywords: "Keywords"
content: "Content"
edit: "edit"
type: 'type'
Page: "Page"
BlogPage: "Blog Page"
BlogArticle: "Blog Article"
Articles: "Articles"
EditArticle: "Edit Article"
preview: "preview"
AreYouSureToDeleteThisArticle: "Are you sure to delete this Article?"
No: "No"
Yes: "Yes"
Back: "Back"
create: "create"
signIn: "sign In"
signUp: "sign Up"
Login: "Login"
Password: "Password"
Mail: "Mail"
SignUp: "Sign Up"
RegistrationFailure: "Registration Failure! User with this mail or login already exists!"
RegistrationSuccess: "Registration Success! Now You can login."
Files: "FIles"
UploadFilesHere: "Upload files here!"
Users: "Users"
ListOfUsers: "List Of Users"
Role: "Role"
Profile: "Profile"