ListOfArticles: "List of Articles"
NewArticle: "New Article"
Name: "Name"
Status: "Status"
Author: "Author"
Date: "Date"
Action: "Action"
Edit: "Edit"
Delete: "Delete"
Preview: "Preview"
title: "title"
description: "description"
keywords: "Keywords"
content: "Content"
edit: "edit"
type: 'type'
Page: "Page"
BlogPage: "Blog Page"
BlogArticle: "Blog Article"
Articles: "Articles"
EditArticle: "Edit Article"
preview: "preview"
AreYouSureToDeleteThisArticle: "Are you sure to delete this Article?"
No: "No"
Yes: "Yes"
Back: "Back"
create: "create"
signIn: "sign In"
signUp: "sign Up"
Login: "Login"
Password: "Password"
Mail: "Mail"
SignUp: "Sign Up"
RegistrationFailure: "Registration Failure! User with this mail or login already exists!"
RegistrationSuccess: "Registration Success! Now You can login."
Files: "Files"
UploadFilesHere: "Upload files here!"
Users: "Users"
ListOfUsers: "List Of Users"
Role: "Role"
Profile: "Profile"
WebsiteSettings: "Website Settings"
SiteName: "Site name"
Update: "Update"
SettingsUpdatedSuccessful: "Settings updated successful"
Pages: "Pages"
ListOfPages: "List of Pages"
Article: "Article"
NewPage: "New Page"
Create: "Create"
url: "url"
NewArticleCreationSuccess: "New Article creation success"
NewPageCreationSuccess: "New Page creation success"
Upload: "Upload"
Done: "Done"
Homepage: "Homepage"
Categories: "Categories"
ListOfCategories: "List of Categories"
NewCategory: "New Category"
Registration: "Registration"
Settings: "Settings"
Logout: "Logout"
LogoutSuccessful: "Logout successful"
PermisionDenied: "Permision denied"
Admin: "Admin"
Editor: "Editor"
Unkown: "Unknown"
General: "General"
Other: "Other"
Category: "Category"
NewUserRole: "New user role"
SingleType: "Single type"
BlogType: "Blog type"
Description: "Description"
More: "More"
EditationSuccess: "Editation success"
EditCategory: "Edit Category"
EditPage: "Edit Page"
ClassicType: "Classic type"
CustomType: "Custom type"
HeaderAndFooter: "Header and Footer"
Comment: "Comment"
Send: "Send"
Content: "Content"
AreYouSureToDeleteThisPage: "Are you sure to delete this page?"
AreYouSureToDeleteThisCategory: "Are you sure to delete this category?"
SiteMap: "Site map"
Url: "Url"
AreYouSureToDeleteThisFile: "Are you sure to delete this file?"
FileWasDeleted: "File was deleted"
article: "article"
category: "category"
UrlAlreadyExist: "Url already exist"
Images: "Images"
CouldNotBeEmpty: "Could not be empty!"
CopyToClipboard: "Copy to clipboard"
Coppied: "Copied"
date: "date"
time: "time"
Published: "Published"
Unpublish:	"Unpublish"
Publish: "Publish"
ShowTitle: "Show title"
Save: "Save"
PasswordAgain: "Password again"
LoginAlreadyExists: "Login already exists"
MailAlreadyExists: "Mail already exists"
SendRecoveryMail: "Send recovery mail"
RecoveryMailSendedCheckYourMail: "Recovery mail sended check your mail"
Change: "Change"
PasswordChanged: "Password changed"
404: "404"
ArticlesPerPage: "Articles per page"
ArticlesPreviewLength: "Articles preview length"
DateFormat: "Date format"
Blog: "Blog"
Scripts: "Scripts"