<div class="row">
    {form comment}
        <div class="input-field col s12">
            {input author}
            {label author /}
        </div>
        <div class="input-field col s12">
            {input content}
            {label content /}
        </div>
        <div class="input-field col s12 right-align">
            {input submit}
        </div>
    {/form}
</div>